.song-list-wrapper {
  position: fixed;
  top: 250px;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  .song-list-header {
    position: fixed;
    width: 100%;
    height: 50px;
    margin-left: 10px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    line-height: 1.5;
    box-sizing: border-box;
    .iconfont {
      font-size: 24px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .count-text {
      margin-left: 5px;
      font-size: 12px;
      color: rgb(187, 168, 168);
    }
  }
  .song-list-container {
    height: 340px;
    margin-top: 50px;
  }
  .song-list {
    .song-item {
      display: flex;
      align-items: center;
      height: 60px;
      .index {
        width: 60px;
        text-align: center;
      }
      .song-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 5px 0;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(228, 228, 228);
        .name {
          color: rgb(46, 48, 48);
        }
        .author {
          font-size: 12px;
          color: rgb(187, 168, 168);
        }
      }
    }
  }
}